fastapi
uvicorn
requests
aiohttp
gradio
gradio_client
huggingface-hub
markdown-it-py
orjson
packaging
pandas
pillow
playwright
pydantic
python-dotenv
python-jose[cryptography]
python-multipart
pytz
PyYAML
regex
ruff
safetensors
semantic-version
tiktoken
tokenizers
tomlkit
torch
tqdm
transformers
typer
websockets
passlib[bcrypt]
pydantic-settings